@import "../../style/_variables";

main {
    .homepageContent {
        transition: all ease-in-out 1s;
        transform: translateY(20px);
        opacity: 0;
        
        h3 {
            font-size: 1rem;
            font-weight: 200;
            color: $primaryColor;
        }
        div {
            margin: 20px 0px 30px 0px;
    
            .name, .whatDoes {
                font-size: 4.8rem;
                font-weight: 700;
            }
            .name {
                color: #CCD7F5;
            }
            .whatDoes {
                color: #8893AF;
            }
        }
        p {
            color: #65718B;
            max-width: 500px;
            word-wrap: break-word;
        }
    }
}
