.thingsBuiltedMain {
    transition: all ease-in-out 1s;
    opacity: 0;
    transform: translateY(30px);

    
    .thingsBuiltedMain__projectsArea {
        display: flex;
        flex-direction: column;
        
        .thingsBuiltedMain__projectsArea__myGithub {
            margin-top: 20px;
            text-align: center;
            color: white;

            a {
                color: #57ABFD;
            }
        }
    }
}