.App {
    display: flex;
    flex-direction: column;

    justify-content: center;

    margin: 140px 100px;

    section {
        margin-bottom: 200px;
    }
}

@media (max-width: 1070px) {
    html {
        font-size: 70%;
    }
}

@media (max-width: 900px) {
    html {
        font-size: 65%;

        .App {
            margin: 140px 50px;
        }
    }
}
